.anti-flash-white-background {
    background-color: rgb(245, 247, 249);
}

.row-flex-vertical-padding {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    align-items: baseline;
    padding: 40px 0px;
}

@media (min-width: 800px) {
    .row-flex-vertical-padding {
        align-items: normal;
        padding: 48px 0px;
    }
}

.styled-body-content {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.3px;
}

@media (min-width: 768px) {
    .styled-body-content {
        font-size: 16px;
    }
}

.margin-left-6px {
    margin-left: 6px;
}

/* left-up-padding-underline-translate */

.left-up-padding-underline-translate {
    padding: 3px 0px 0px 20px;
}

.left-up-padding-underline-translate::after {
    transform: translateY(-5px);
}

.styled-body-button-content {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    display: block;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.4px;
}

@media (min-width: 1024px) {
    .styled-body-button-content {
        font-size: 20px;
    }
}

.daJQoZ::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentcolor;
    margin-top: 2px;
}

@media (min-width: 768px) {
    .daJQoZ::after {
        margin-top: 2px;
    }
}

@media (min-width: 1024px) {
    .daJQoZ::after {
        margin-top: 2px;
    }
}

.light-grey-hr {
    border-width: 1px 0px 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-top-style: solid;
    border-top-color: rgb(228, 230, 231);
    margin: 0px 32px;
}

@media (min-width: 580px) {
    .light-grey-hr {
        margin: 0px auto;
        padding: 0px;
        width: 460px;
    }
}

@media (min-width: 1024px) {
    .light-grey-hr {
        width: 900px;
    }
}
